In [35]:
print("Hello, World!")

Hello, World!

In [36]:
print('Hello, World!')

Hello, World!

In [37]:
print("Hello, World!")

Hello, World!

In [38]:
threE = 3

In [39]:
print("three")

three

In [40]:
print(threE)

3

In [41]:
1 + 1

2

In [42]:
3-2

1

In [43]:
4/2

2.0

In [44]:
4 ** 9

262144

In [45]:
# Modulo operator

6 % 3

0

In [46]:
# Floor operator

6 // 3

2

In [47]:
# PEMDAS

In [48]:
# a program to print todays date

print("04/06/2023")

04/06/2023

## Python variables

In [49]:
todays_date = "04/06/2023"

print(todays_date)

04/06/2023

In [50]:
sum_of_4_and_5 = 4 + 5

sum_of_10_and_16 = 10 + 16

In [51]:
print(sum_of_10_and_16)

26

In [52]:
print(sum_of_4_and_5 + sum_of_10_and_16)

35

In [53]:
y = 10 + 5

In [54]:
_sum = 10

In [55]:
print(_sum)

10

In [56]:
#calculating teh number of seconds in 3 years
number_of_years = 5
months = 12

#assuming every month has 30 days
days_in_months = 30
hours_in_a_day = 24
minutes_hour = 60
seconds_in_minute = 60

total_seconds = number_of_years * months * days_in_months * hours_in_a_day * minutes_hour * seconds_in_minute

print(total_seconds)

155520000

In [57]:
#calculating teh number of seconds in 3 years
number_of_years = 1
months = 12

#assuming every month has 30 days
days_in_months = 30
hours_in_a_day = 24
minutes_hour = 60
seconds_in_minute = 60

total_seconds = number_of_years * months * days_in_months * hours_in_a_day * minutes_hour * seconds_in_minute

print(total_seconds)

31104000

In [58]:
def my_function():  # function header
    # logic
    return

Breakdown the code:

    1. `def add_three(number)` this is the function header
    2. `final_addition = number + 3` the logic that adds `3` to any given input
    3. `return final_addition` it gives the final output

In [59]:
def add_three(number):
    final_addition = number + 3
    return final_addition

In [60]:
add_three(4)

7

In [61]:
add_three(7)

10

defining variablke `def`

function name `summation`

arguments `first_number` and `second_number`

In [62]:
def summation(first_number, second_number):
    
    final_output = first_number + second_number
    return final_output

In [63]:
summation(1, 2)

3

In [64]:
summation(20, 15)

35

Create a function that returns the VAT for any given cost

cost

In [65]:
def calculate_vat(cost):
    
    vat = ...
    
    return vat

In [66]:

paye = 12

def calculate_net_pay(number_of_hours):
    total_pay = number_of_hours*15
    net_pay = total_pay*(88/100)
    return net_pay

# Multiple Arguments

In [67]:
def calculate_net_pay(number_of_hours, hourly_rate, paye):
    total_pay = number_of_hours * hourly_rate
    net_pay = total_pay * ((100 - paye)/100)
    return net_pay

In [68]:
calculate_net_pay(40, 100, 35)

2600.0

string = 

booleans  `True` or `False`

integer = 1, 2, 3, 4, 5, -1, -2, ...

float = 1.0, -1.0

In [69]:
#clalculations between data types

#integer vs float

#integer vs integer

# sum_i_i = 1 + 1
# print(sum_i_i)

# dif_i_i = 2.0 - 1
# print(dif_i_i)

# mut_i_i = 1.0 * 1.0
# print(mut_i_i)

# dev_i_i = 8 / 5
# print(dev_i_i)

#float vs float

In [70]:
type("good")

str

In [71]:
pi = 22/7

#round(float, desired_decimal_places)
print(round(pi, 1))

3.1

In [72]:
1 > 3

False

In [73]:
3 >= 3

True

In [74]:
4 <= 8

True

In [75]:
# strings

affirmation = 'I am strong'

print (type(affirmation))

<class 'str'>

In [76]:
affirmation_3 = affirmation * 3

print(affirmation_3)

I am strongI am strongI am strong

In [77]:
affirmation2 = " to get up and go to work"

affirms = affirmation + affirmation2

In [78]:
print(affirms)

I am strong to get up and go to work

Incase you go to the shop 

Buy ariel 

else ariel buy omo 

>
<
>=
<=
== equals
!= does not equal

In [79]:
3 == 3

True

In [80]:
3 != 2

True

In [81]:
4 > 3

True

In [82]:
def evaluate(temp):
    message = "Normal Temperature"
    if temp > 37:
        message = "This person is hot"
    else:
        message = "This person is good"
    return message

else if = elif

In [83]:
print(evaluate(37))

This person is good

In [84]:
def years(start_year, end_year):
    # code logic
    
    
    return

# Lists

#### Data types

Integers 

Strings 

Float 

Boolean

#### Data structures 

They are used to contain multiple data types 

Lists 

Dictionaries 

Sets 

Tuples

In [85]:
#pure strings
work_friends = ["John", "Jane", "Peter", "Mary"]

# pure intergers
price_of_unga = [230, 240, 220, 235]

#random data types
random_items = [230, 230.5, "fruits", True, "Pen"]

In [86]:
#check the list length or number of items in your list 

len(work_friends)

4

Adding a friend to our list

In [87]:
work_friends.append("Judas")

work_friends

['John', 'Jane', 'Peter', 'Mary', 'Judas']

['John', 'Jane', 'Peter', 'Mary', 'Judas']

0, 1, 2, 3, 4, 


the first item in a list has the index 0

In [89]:
work_friends[0]

'John'

In [90]:
work_friends[1]

'Jane'

In [91]:
work_friends[len(work_friends)-1]

'Judas'

In [92]:
work_friends

['John', 'Jane', 'Peter', 'Mary', 'Judas']

## List Slicing 

to retrive the first n elements you use 

list[:n]

In [96]:
work_friends[:3]

['John', 'Jane', 'Peter']

To retive the last n elements you use 

list[-2:]

In [97]:
work_friends[-2:]

['Mary', 'Judas']

## Removing elements

to remove an element in a list use 

list.remove(element)

In [98]:
work_friends.remove("Judas")

In [102]:
work_friends

['John', 'Jane', 'Mary']

In [100]:
work_friends.pop(2)

'Peter'

In [101]:
work_friends

['John', 'Jane', 'Mary']

In [1]:
# while loop 

# for loop

SyntaxError: invalid syntax (3915012747.py, line 1)

+= operator increases a number by n 

-= operator decreses a number by n

In [6]:
number = 10

#while loop evaluates code until the condition equals to false

while number > 5:
    print(f"Hello {number}")
    number -= 1

Hello 10
Hello 9
Hello 8
Hello 7
Hello 6

Objects that support iteration:
    
    Lists 
    Tuples 
    Sets 
    Strings

In [8]:
# list

fruits = ["mango", "pear", "avocado", "sugarcane", "mapera", "berry"]

for fruit in fruits:
    print(fruit)

mango
pear
avocado
sugarcane
mapera
berry