In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print('Hello, World!')

Hello, World!

In [3]:
print("Hello, World!")

Hello, World!

In [4]:
threE = 3

In [5]:
print("three")

three

In [6]:
print(threE)

3

In [7]:
1 + 1

2

In [8]:
3-2

1

In [9]:
4/2

2.0

In [10]:
4 ** 9

262144

In [11]:
# Modulo operator

6 % 3

0

In [12]:
# Floor operator

6 // 3

2

In [13]:
# PEMDAS

In [14]:
# a program to print todays date

print("04/06/2023")

04/06/2023

## Python variables

In [15]:
todays_date = "04/06/2023"

print(todays_date)

04/06/2023

In [20]:
sum_of_4_and_5 = 4 + 5

sum_of_10_and_16 = 10 + 16

In [22]:
print(sum_of_10_and_16)

26

In [23]:
print(sum_of_4_and_5 + sum_of_10_and_16)

35

In [24]:
y = 10 + 5

In [34]:
_sum = 10

In [35]:
print(_sum)

10

In [1]:
#calculating teh number of seconds in 3 years
number_of_years = 5
months = 12

#assuming every month has 30 days
days_in_months = 30
hours_in_a_day = 24
minutes_hour = 60
seconds_in_minute = 60

total_seconds = number_of_years * months * days_in_months * hours_in_a_day * minutes_hour * seconds_in_minute

print(total_seconds)

155520000

In [2]:
#calculating teh number of seconds in 3 years
number_of_years = 1
months = 12

#assuming every month has 30 days
days_in_months = 30
hours_in_a_day = 24
minutes_hour = 60
seconds_in_minute = 60

total_seconds = number_of_years * months * days_in_months * hours_in_a_day * minutes_hour * seconds_in_minute

print(total_seconds)

31104000

In [ ]:
def my_function():  # function header
    # logic
    return

Breakdown the code:

    1. `def add_three(number)` this is the function header
    2. `final_addition = number + 3` the logic that adds `3` to any given input
    3. `return final_addition` it gives the final output

In [3]:
def add_three(number):
    final_addition = number + 3
    return final_addition

In [4]:
add_three(4)

7

In [5]:
add_three(7)

10

defining variablke `def`

function name `summation`

arguments `first_number` and `second_number`

In [6]:
def summation(first_number, second_number):
    
    final_output = first_number + second_number
    return final_output

In [7]:
summation(1, 2)

3

In [8]:
summation(20, 15)

35

Create a function that returns the VAT for any given cost

cost

In [ ]:
def calculate_vat(cost):
    
    vat = ...
    
    return vat

In [ ]:

paye = 12

def calculate_net_pay(number_of_hours):
    total_pay = number_of_hours*15
    net_pay = total_pay*(88/100)
    return net_pay

# Multiple Arguments

In [11]:
def calculate_net_pay(number_of_hours, hourly_rate, paye):
    total_pay = number_of_hours * hourly_rate
    net_pay = total_pay * ((100 - paye)/100)
    return net_pay

In [10]:
calculate_net_pay(40, 100)

3520.0

In [13]:
calculate_net_pay(40, 100, 35)

2600.0

string = 

booleans  `True` or `False`

integer = 1, 2, 3, 4, 5, -1, -2, ...

float = 1.0, -1.0

In [15]:
#clalculations between data types

#integer vs float

#integer vs integer

# sum_i_i = 1 + 1
# print(sum_i_i)

# dif_i_i = 2.0 - 1
# print(dif_i_i)

# mut_i_i = 1.0 * 1.0
# print(mut_i_i)

# dev_i_i = 8 / 5
# print(dev_i_i)

#float vs float

1.0

In [22]:
type("good")

str

In [31]:
pi = 22/7

#round(float, desired_decimal_places)
print(round(pi, 1))

3.1

In [33]:
1 > 3

False

In [36]:
3 >= 3

True

In [37]:
4 <= 8

True

In [40]:
# strings

affirmation = 'I am strong'

print (type(affirmation))

<class 'str'>

In [42]:
affirmation_3 = affirmation * 3

print(affirmation_3)

I am strongI am strongI am strong

In [45]:
affirmation2 = " to get up and go to work"

affirms = affirmation + affirmation2

In [46]:
print(affirms)

I am strong to get up and go to work

Incase you go to the shop 

Buy ariel 

else ariel buy omo 

>
<
>=
<=
== equals
!= does not equal

In [8]:
3 == 3

True

In [7]:
3 != 2

True

In [2]:
4 > 3

True

In [22]:
def evaluate(temp):
    message = "Normal Temperature"
    if temp > 37:
        message = "This person is hot"
    else:
        message = "This person is good"
    return message

else if = elif

In [23]:
print(evaluate(37))

This person is good

In [ ]:
def years(start_year, end_year):
    # code logic
    
    
    return